# List of devcontainers to be managed and synced
brotherlogic/beerkellar
brotherlogic/dcrouter
brotherlogic/devcontainer-manager
brotherlogic/eurorack
brotherlogic/focus
brotherlogic/gemclust
brotherlogic/gramophile
brotherlogic/kubebrainz
brotherlogic/music
brotherlogic/prod
brotherlogic/recorder
brotherlogic/seraphine
brotherlogic/style
